@media(max-width:1170px){
    .dash-box-icon svg {
        width: 45px;
        height: 45px;
    }
    .dash-box-dtl h2 {
        font-size: 30px;
        line-height: 36px;
    }
}
@media (max-width: 991px) {
    .open .main-menus {
        padding: 0 20px;
    }

    .main-menus {
        width: 0;
        padding: 0;
    }

    .main-wrapper {
        margin-left: 0;
        width: calc(100% - 0px);
        padding: 0;
    }

    .active .sub-menus {
        width: calc(100% - 0px);
    }

    body.open {
        height: 100vh;
        overflow: hidden;
    }
    .main-aside {
        transform: translate(-100%);
    }
    .sideToggle {
        display: block;
    }
    #nav-icon {
        display: block;
        width: 22px;
        position: relative;
        height: 16px;
    }
    #nav-icon span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #5138ee;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }
    #nav-icon span:nth-child(1) {
        top: 0px;
    }
    #nav-icon span:nth-child(2) {
        top: 7px;
        -webkit-animation: nav-icon-bg 3s infinite;
        -moz-animation: nav-icon-bg 3s infinite;
        -o-animation: nav-icon-bg 3s infinite;
        animation: nav-icon-bg 3s infinite;
    }
    #nav-icon span:nth-child(3) {
        top: 14px;
    }
    .menu-open .main-aside {
        transform: translate(0);
    }
    .menu-open .current-session {
        opacity: 0;
        visibility: hidden;
    }
    .menu-open .page-header {
        z-index: 99;
        background: transparent;
        border-bottom: 0;
    }
    .menu-open #nav-icon span {
        background: #fff;
    }
    .menu-open #nav-icon span:nth-child(1) {
        top: 6px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    .menu-open #nav-icon span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    .menu-open #nav-icon span:nth-child(3) {
        top: 6px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
    .login-page-inr {
        flex-direction: column-reverse;
    }
    .login-right {
        flex: 0 0 75%;
        padding: 20px;
        overflow: auto;
    }
    .login-right, .login-left {
        width: 100%;
    }
    .copyright-box {
        display: none;
    }
    .login-left {
        flex: 0 0 25%;
        justify-content: center;
        padding: 20px;
    }
}

@media (max-width: 767px) {
    
    .page-header, .page-body {
        padding: 15px;
    }
    .page-header h4 {
        font-size: 20px;
    }
    .sidebar-wrapper .main-menus {
        padding: 0;
    }
    .dash-box-dtl h2 {
        font-size: 26px;
        line-height: 30px;
    }
    .dash-box-icon svg {
        width: 40px;
        height: 40px;
    }
    .login-btn {
        margin-bottom: 0;
    }
    .login-head {
        padding-top: 25%;
    }
    .login-head {
        padding-top: 25%;
    }
    .cus-menu {
        padding: 5px 8px;
        min-width: 100px;
        font-size: 12px;
    }
    .head-right>div+div {
        margin-left: 15px;
    }
}

@media(max-width:500px){
    .dash-box {
        width: calc(100% - 20px);
        margin: 5px 10px;
        padding: 15px;
    }
    .page-header h4 {
        font-size: 18px;
    }
}
